.About {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
}


.TextAbout {
  font-family: var(--font-sentient-variable);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.Title {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-sentient-variable);
  font-size: 72px;
  line-height: 86px;
  padding-top: 40px;
  padding-left: 64px;
  padding-right: 64px;
}

.About > div > div > p > a {
  color: white;
  text-decoration: none;
}

.About > div > div > p > a:hover {
  color: white;
  text-decoration: underline;
}

.About > div > div > h4 {
  color: var(--brick);
  margin-top: 24px;
}

.AboutInfo{
  width: 70%;
}

.LogoCredits{
  width: 30%;
}
