.TopBar {
  position: fixed;
  top: 0;
  z-index: 2000;
  height: var(--top-bar-height);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--black);
  padding-left: 14px;
  padding-right: 14px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.Copyright {
  font-family: var(--font-pp-neue-montreal);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-top: 16px;
}

.LabelMenu {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-left: 10px;
}

.Backdrop {
  background: transparent;
}

.Offcanvas {
  background-color: var(--dark-grey);
  top: 56px;
  width: 396px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}

.BigLink {
  font-family: var(--font-pp-neue-montreal);
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: white;
  text-decoration: none;
  line-height: 65px;
}

.BigLinkAction {
  font-family: var(--font-pp-neue-montreal);
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: var(--orange);
  text-decoration: none;
  line-height: 65px;
}

.BigLink:hover,
.MediumLink:hover,
.BigLinkAction:hover {
  color: var(--orange);
}

.OffcanvasBody {
  display: flex;
  padding-left: 60px;
  padding-top: 27px;
  flex-direction: column;
  justify-content: space-between;
}

.BlockLanguages {
  display: flex;
}

.ChangeLangLink {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin-right: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  text-transform: uppercase;
}

.ChangeLangLink:hover {
  text-decoration: none;
  color: white;
}

.ChangeLangLinkActive {
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
  text-decoration: none;
  margin-right: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
}

.ChangeLangLinkActive:hover {
  text-decoration: none;
  color: var(--dark-grey);
}

.BlockTerms {
  margin-top: 32px;
  margin-bottom: 20px;
}

.MediumLink {
  font-family: var(--font-pp-neue-montreal);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: white;
  text-decoration: none;
}

.c2dh {
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.unilu {
  width: 170px;
}

.esch22 {
  width: 60px;
  margin-left: 8px;
}

.MinettTitle {
  font-family: var(--font-abc-maxi-sharp);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  mix-blend-mode: normal;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .OffcanvasBody {
    display: flex;
    padding-left: 16px;
    padding-top: 8px;
    flex-direction: column;
    justify-content: space-between;
  }

  .BigLink {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  .BigLinkAction {
    font-style: normal;
    font-weight: normal;
    color: var(--orange);
    text-decoration: none;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  .BigLinkAction::before {
    content: '';
  }

  .MediumLink {
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
    text-decoration: none;
  }

  .Offcanvas {
    background-color: var(--dark-grey);
    top: 56px;
    width: 100%;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .offcanvas-start {
    border-right: none;
  }

  .OffcanvasBody {
    z-index: 10000;
  }
}
