.titleItem {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  margin-top: 24px;
}

.item {
  text-decoration: none;
  border: 1px solid var(--dark-grey);
  padding: 15px;
  min-height: 240px;
}
