.showPodcast {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 325px;
  height: 316px;
  background-color: var(--black);
  padding: 24px;
}

.TitlePopupPodcast {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.01em;
}

.DownloadFile {
  width: max-content;
  border-radius: 40px;
  background-color: var(--cadet-blue);
  padding: 10px 24px;
}

.TitleStory {
  font-family: var(--font-pp-neue-montreal);
  font-size: 40px;
  line-height: 48px;
}

.ResearchText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 16px;
  line-height: 24px;
}

.AbstractText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.subtitlesContainer {
  position: absolute;
  /* left: 116px;
  right: 116px; */
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  bottom: 41px;
  overflow: auto;
  font-family: var(--font-pp-neue-montreal);
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
      1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .TitleStory {
    font-size: 32px;
    line-height: 38px;
  }

  .AbstractText {
    font-size: 24px;
    line-height: 32px;
  }

  .Content {
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
  }

  .subtitlesContainer {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 48px) !important;
    left: 24px;
    right: 24px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-pp-neue-montreal);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
      1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }
}
