.marker {
  width: 25px;
  height: 25px;
  color: #fff;
  background: white;
  border: 5px solid var(--orange);
  border-radius: 50%;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}

.marker.selected {
  width: 55px;
  height: 55px;
  color: #fff;
  background: white;
  border: 10px solid var(--orange);
  border-radius: 50%;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}

.clusterMarker {
  text-align: center;
  width: 20px;
  height: 20px;
  color: white;
  background: #f28a25;
  border-radius: 20px;
}

.BlockInfo {
  padding: 24px;
  overflow: auto;
  height: 100%;
  width: 400px;
}

.TextContent {
  font-family: var(--font-pp-neue-montreal);
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
}

.Title {
  font-size: 32px;
  line-height: 38px;
  font-family: var(--font-pp-neue-montreal);
}

.Year {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  font-family: var(--font-pp-neue-montreal);
  color: var(--cadet-blue);
  margin-top: 16px;
  margin-bottom: 16px;
}

.Description {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-sentient-regular);
  margin-top: 16px;
  margin-bottom: 16px;
}

.ButtonDocument {
  border-radius: 40px;
  background-color: var(--cadet-blue);
  width: max-content;
  margin-top: 20px;
  padding: 8px 24px;
  text-transform: uppercase;
}

.TitlePopup {
  font-family: var(--font-pp-neue-montreal);
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
  color: var(--dark-grey);
}

.YearPopup {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--cadet-blue);
  font-family: var(--font-pp-neue-montreal);
  margin-top: 16px;
}

.SideDoc {
  height: 100%;
  padding: 24px;
  width: 400px;
  overflow: auto;
}

.ContainerMapAndSideDoc {
  overflow: hidden;
}

.TitleStory {
  font-family: var(--font-pp-neue-montreal);
  font-size: 40px;
  line-height: 48px;
}

.ResearchText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 16px;
  line-height: 24px;
}

.AbstractText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .BlockInfo {
    padding: 24px;
    overflow: auto;
    height: max-content;
    width: 100%;
  }

  .SideDoc {
    width: 100%;
    background: var(--black);
    overflow: auto;
    position: absolute;
    top: 0px;
    overflow: auto;
    z-index: 199;
    height: 100%;
  }

  .ContainerMapAndSideDoc {
    overflow: auto;
    position: relative;
  }

  .TitleStory {
    font-size: 32px;
    line-height: 38px;
  }

  .AbstractText {
    font-size: 24px;
    line-height: 32px;
  }

  .Content {
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
  }

  .TextContent {
    font-family: var(--font-pp-neue-montreal);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
