.novel {
  transition: all 1.5s ease-in;
}

.novel.flyRight {
  transform: translateX(100%);
}

.novel.flyLeft {
  transform: translateX(-100%);
}

.BlockControls{
  height: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.imgNovel{
  border-radius: 100px;
  background-repeat: no-repeat;
}