.novel {
  transition: all 1.5s ease-in;
  padding-left: 100px;
}

.novel.flyRight {
  transform: translateX(100%);
}

.novel.flyLeft {
  transform: translateX(-100%);
}

.BlockControls {
  height: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.imgNovel {
  border-radius: 100px;
  background-repeat: no-repeat;
}

.TitleStory {
  font-family: var(--font-pp-neue-montreal);
  font-size: 40px;
  line-height: 48px;
}

.ResearchText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 16px;
  line-height: 24px;
}

.AbstractText {
  font-family: var(--font-pp-neue-montreal);
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .BlockControls {
    height: 64px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .TitleStory {
    font-size: 32px;
    line-height: 38px;
  }

  .AbstractText {
    font-size: 24px;
    line-height: 32px;
  }

  .ContentLongScroll {
    margin: 0px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
  }
}
