.BlockLanguages {
  position: absolute;
  right: 60px;
  top: 24px;
  z-index: 11;
}

.BlockTextHome {
  z-index: 10;
  position: absolute;
  display: flex;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}

.subtitle {
  font-family: var(--font-pp-neue-montreal);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 64px;
  margin-top: 40px;
}

.Home {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: background-image 1.5s ease-in-out;
  /* transition-delay: 1.5s; */
}

.CoverBackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background-color: var(--brick);
  z-index: 0;
}

.LogoCredits {
  position: absolute;
  z-index: 10;
  bottom: 32px;
  left: 60px;
  mix-blend-mode: lighten;
}

.HomeMinettText {
  font-family: var(--font-abc-maxi-sharp);
  /* font-weight: 200; */
  font-size: 15vw;
  line-height: 136px;
  cursor: default;
  text-align: center;
}

.Char200 {
  animation-play-state: paused;
  font-weight: 200;
  font-variation-settings: 'wght' 200;
}

.Char400 {
  animation-play-state: paused;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
}

.Char200:hover {
  animation-play-state: start !important;
  animation: breathe200 1500ms infinite;
}

.Char400:hover {
  animation-play-state: start !important;
  animation: breathe400 1500ms infinite both;
}

@keyframes breathe200 {
  0% {
    font-variation-settings: 'wght' 200;
    /* font-size: 10vw; */
  }
  60% {
    font-variation-settings: 'wght' 400;
    /* font-size: 11vw; */
  }

  100% {
    font-variation-settings: 'wght' 200;
    /* font-size: 10vw; */
  }
}

@keyframes breathe400 {
  0% {
    font-variation-settings: 'wght' 400;
    /* font-size: 10vw; */
  }
  60% {
    font-variation-settings: 'wght' 200;
    /* font-size: 11vw; */
  }

  100% {
    font-variation-settings: 'wght' 400;
    /* font-size: 10vw; */
  }
}

.SkipIntro {
  position: absolute;
  bottom: 32px;
  right: 55px;
  color: white;
  z-index: 100;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-pp-neue-montreal);
  text-transform: uppercase;
  text-decoration: underline;
}
.SkipIntro:hover {
  color: inherit;
}

.Gooey {
  background-color: white;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px;
  height: 144px;
  animation: morph 6s linear infinite;
  outline: 1px solid transparent;
  will-change: border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transform: scale(1);
  transition: transform 0.4s ease-out;
}

.Gooey:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

.LinkExplore {
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: var(--font-abc-maxi-round);
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black) !important;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.esch22 {
  height: 88px;
}

.unilu {
  height: 88px;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .BlockLanguages {
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 11;
  }

  .BlockTextHome {
    z-index: 10;
    position: absolute;
    display: flex;
    /* top: -350px; */
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
  }

  .HomeMinettText {
    font-weight: 400;
    /* font-size: 48px; */
    line-height: 60px;
    /* text-align: left; */
    font-weight: 400;
    line-height: 60px;
    /* padding-left: 12px; */
  }

  @keyframes breathe200 {
    0% {
      font-variation-settings: none;
    }
    60% {
      font-variation-settings: none;
    }

    100% {
      font-variation-settings: none;
    }
  }

  @keyframes breathe400 {
    0% {
      font-variation-settings: none;
    }
    60% {
      font-variation-settings: none;
    }

    100% {
      font-variation-settings: none;
    }
  }

  .subtitle {
    font-family: var(--font-pp-neue-montreal);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    /* padding-left: 16px; */
    margin-bottom: 150px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .LogoCredits {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 16px;
    mix-blend-mode: lighten;
  }

  .unilu {
    width: 165px;
    height: auto;
  }

  .esch22 {
    width: 68px;
    height: auto;
  }

  .SkipIntro {
    position: absolute;
    bottom: 12px;
    right: 16px;
    display: block;
    font-family: var(--font-pp-neue-montreal);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: white;
    z-index: 20;
  }

  .Home {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
