.Voronoi {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  height: 100%;
  padding-top: calc(29px + var(--top-bar-height));
  position: relative;
}

.VoronoiSelectedStory {
  transition: opacity 0.4s ease-in;
  position: absolute;
  left: 0;
  pointer-events: none;
  font-family: var(--font-pp-neue-montreal);
  font-size: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.VoronoiSelectedStoryActive {
  opacity: 1;
}

.VoronoiSelectedStory a {
  display: none;
}

.ResearchBy {
  display: none;
}

.TitleStory {
  font-size: 72px;
  line-height: 86px;
  text-align: center;
  font-family: var(--font-pp-neue-montreal);
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .Voronoi {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: calc(0px + var(--top-bar-height));
    position: relative;
    height: 200%;
  }

  .VoronoiSelectedStory {
    transition: transform 0.3s ease-in-out;
    position: fixed;
    transform: translateY(100%);
    pointer-events: initial;
    top: unset;
    bottom: 0;
    z-index: 10;
    background-color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: flex-start;
    opacity: 1;
  }

  .VoronoiSelectedStory a {
    display: block;
  }

  .VoronoiSelectedStoryActive {
    transform: translateY(0);
  }
  .VoronoiMobileBottomPadder {
    height: 30%;
  }

  .ResearchBy {
    font-family: var(--font-pp-neue-montreal);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--cadet-blue);
    margin-bottom: 22px;
    display: block;
  }

  .TitleStory {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-family: var(--font-pp-neue-montreal);
    margin-bottom: 8px;
  }

  .ButtonOpen {
    font-family: var(--font-pp-neue-montreal);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
