.ZoomAndPanMedia {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ZoomAndPanMediaContainer {
  flex: 1 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
  cursor: -webkit-grab;
  cursor: grab;
  flex-basis: 0;
}

.ZoomAndPanMediaContainer .Zoomable {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ZoomAndPanMediaContainer .Zoomable:active {
  cursor: grabbing;
}
.ZoomAndPanMediaControls {
  display: flex;
  justify-content: center;
}

.ZoomAndPanMediaControlsModal {
  display: flex;
  justify-content: center;
}

.ZoomButton {
  border-radius: 40px;
  color: var(--black);
  background-color: var(--light-grey);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.ZoomResetButton {
  background-color: var(--light-grey);
  border-radius: 40px;
  color: var(--black);
  padding: 12px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  z-index: 100;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .ZoomAndPanMediaControlsModal {
    display: none;
  }

  .ZoomAndPanMediaControls {
    display: none;
  }

  .ZoomAndPanMedia {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }

  .ZoomAndPanMediaContainer {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
