:root {
  /*** COLORS ***/
  --sienna: #b58b50;
  --black: #2e2e2e;
  --cadet-blue: #7A8988;
  --brick: #9E5646;
  --orange: #BC6D3F;
  --green: #798774;
  --light-grey: #dedede;
  --dark-grey: #383838;
}

body,
html,
#root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--black);
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

body.block-scroll {
  overflow: hidden;
}