.react-multi-carousel-track {
  align-items: flex-end;
}

.react-multiple-carousel__arrow--left {
  left: -50px;
  z-index: 1000;
}

.react-multiple-carousel__arrow--right {
  right: -50px;
  z-index: 1000;
}

.react-multi-carousel-item {
  z-index: 2;
}

.prev-button {
  position: absolute;
  left: -50px;
  top: 50%;
}

.next-button {
  position: absolute;
  right: -50px;
  top: 50%;
}

.LightGrayBackground{
  background-color: rgba(222,222,222, 0.4);
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
  .prev-button {
    position: absolute;
    left: 0px;
    top: 50%;
  }

  .next-button {
    position: absolute;
    right: 0px;
    top: 50%;
  }

  .react-multi-carousel-track {
    align-items: center;
  }
}

/* .react-multi-carousel-list{
  overflow: ;
} */
