.Cover {
  height: calc(66% - var(--top-bar-height));
  width: calc(100% - 96px);
  margin: auto;
  position: relative;
}
.CoverGreyScaledImage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.CoverBlend {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: overlay;
}

.Content {
  margin: 0 48px;
  background-color: white;
  min-height: 34%;
}

.LeftButtonStory {
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  left: 25px;
  background-color: var(--dark-grey);
}

.RightButtonStory {
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  right: 0px;
}
